<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href={~p"/assets/app.css"} />
  </head>
  <body class={"w-[#{@device.pixel_width}px] h-[#{@device.pixel_height}px]"}>
    {@inner_content}
  </body>
</html>
