<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href={~p"/assets/app.css"} />
  </head>
  <body style={"width: #{@device.pixel_width}px; height: #{@device.pixel_height}px"}>
    {@inner_content}
  </body>
</html>
